@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #FBBF24 ;
    --dark-gray: #9CA3AF;
    --light-yellow: #FEF3C7    ;
}

body{
    /* top right bottom left */
    margin: 0;
    font-family:'Poppins', sans-serif;
}
.navigation{
    color: whitesmoke;
    background-color: var(--primary-color);
    padding: 0.5rem;
}

.navigation .nav-brand{
    padding-top: 0.2rem;
    font-size: 2rem;
    font-weight: bold;
}

.hero{
    padding: 2rem;
    text-align: center;
    background-color: var(--light-yellow);
}

.hero .hero-img{
    display: block;
    max-width: 350px;
    margin: auto;
}

.hero .hero-heading{
    /* font-size: 1.2rem; */
    padding-top: 1rem;
    color:var(--dark-gray);
}

.highlight{
    color: var(--primary-color);
}
section{
    padding: 0.5rem;
}
.section-off-white{
    background-color: var(--light-yellow);
}


textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}


button{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    color: whitesmoke;
    text-align: center;
}

.container{
    padding: 0rem 1rem;
}
/* 
    Box model: MBPC - Margin, Border, Padding, Content
    rem: A css unit that works relative to font size.
*/
.container-center{
    max-width: 600px;
    margin: auto;
}

